body {
    background-color: #F9FAFC;
    font-family: 'Comic Neue', cursive;
}

.brand {
    font-family: 'Comic Neue', cursive;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #e4ec69;
    z-index: 1500;
    position: fixed;
}

.navbar-brand {
    margin-right: -275px !important;
    margin-left: -75px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.navbar-brand img {
    width: 50%;
}

.navbar-brand img.nav-active {
    width: 48%;
}

.navbar .btn {
    background-color: transparent;
}
#links {
    margin-right: auto;
}
.ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: auto;
    
}

.justify-content-end {
    
    margin-right: auto;
}

#homeicon {
    height: 15rem;
    width: 15rem;
    margin-top: -2.5rem;
}
.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}