body {
    background-color: rgb(233 196 209);
    font-family: 'Comic Neue', cursive;
    font-weight: 300;
    

    background-size: 200rem;
    background-image: url('https://res.cloudinary.com/dvj7dxhwj/image/upload/v1685619591/background3_klulm3.jpg');
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
    background-attachment: fixed;
}


.brand {
    font-family: 'Comic Neue', cursive;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
    background-color: rgb(55, 212, 37);

}

img {
    width: 100%;
}

.navbar {
    width: 100%;
    height: 80px;
    z-index: 1500;
    margin-top: 20px;
}

.navbar-brand {
    margin-right: -275px !important;
    margin-left: -50px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.navbar-brand img {
    width: 50%;
}

.navbar-brand img.nav-active {
    width: 48%;
}

.navbar .btn {
    background-color: transparent;
}

.login-box {
    margin-right: -10px;
    margin-top: 35px;
}

.login-box .nav-link {
    padding: 0.5rem 0.5rem;
    margin-right: 10px;
}

.logout-box {
    margin-right: -15px;
    margin-top: 15px;
}

.login-box .author-img {
    width: 30px;
    height: 30px;
    margin-top: 8px;
}

.alert{
    margin-top: 80px;
}

.nav-link.nav-active {
    color: #fff !important;
}

.nav-link {
    color: black;
    margin-right: 15px;
    -webkit-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    list-style-type: none;  
}

#links {
    margin-right: auto;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: auto;
    list-style-type: none;  
}

.navbar .dropdown-menu {
    background-color: #ebebeb;
    border: 1px solid white;   
}

.navbar .dropdown-menu a {
    background-color: #ebebeb;
    opacity: 1;
}

.navbar .dropdown-menu a:hover {
    background-color: white;
    opacity: 1;
}

.login-box {
    margin-right: -10px;
    margin-top: 35px;
}

.login-box .nav-link {
    padding: 0.5rem 0.5rem;
}

.logout-box {
    margin-right: -15px;
    margin-top: 15px;
}

.login-box .author-img {
    width: 30px;
    height: 30px;
    margin-top: 8px;
}

#search-box-button {
    margin-top: 25px;
}

.alert-fixed {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
}

.justify-content-end {
    
    margin-right: auto;
}

#homeicon {
    height: 15rem;
    width: 15rem;
    margin-top: -2.5rem;
}


/*******************************
*                              *
*         Logs Pages           *
*                              *
*******************************/


.logs-pages {
    margin-bottom: 100px;
    margin-top: 0px;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}

.logs-pages .btn-signup {
    margin-bottom: 20px;
}

.log-out {
    height: 60vh;
    margin-bottom: 80px;
}

.logs-pages input {
    text-align: center;
    border-radius: 15px !important;
    padding: 5px 15px !important;
}


.wrap, .wrapper {
    margin: 0 auto 0;
    padding: 0 20px;
    width: 100%;
    max-width: 1160px;
}

.log-out {
    height: 50vh;
    margin-bottom: 0px;
}

/*******************************
*                              *
*         Hero Section         *
*                              *
*******************************/
.nav-item{
    list-style-type: none; 
    
}


.items {
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -1.5%;
}

.home-section.icons .items .item {
    margin: 0;
    padding: 0 1%;
    width: -moz-calc(100% / 7);
    width: -webkit-calc(100% / 7);
    width: calc(100% / 7);
}

.items-7-col .item {
    flex-grow: 1;
}

.items .item {
    margin: 0 1.5% 0;
    text-align: center;
    flex-grow: 1;
}

.home-section.icons {
    padding: 0 0 50px;
    margin: 0 0 40px;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}


.home-section {
    clear: both;
    position: relative;
    margin-bottom: 60px;
}

.home-section .wrap {
    position: relative;
}

.items a {
    text-decoration: none;
    border: none;
    box-shadow: none;
}
.home-section.icons .items .item img {
    width: 90%;
    max-width: 120px;
    height: auto;
    margin: 0 auto;
    box-shadow: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.items .item img {
    display: block;
    width: 100%;
    height: auto;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.items a.block img, .items a img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.screen-reader-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}

h2 {
    font-size: 20px;
}

body.home .tagline {
    margin-bottom: 40px;
    
}

.tagline {
    
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .95em;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 40px;
    padding: 10px;
    margin-top: 30px;
}


.btn-primary {
background: transparent;
}

.title {
    font-style: normal;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    margin: 8px 0 0;
}

.items .item .title {
    margin: 15px 0 0;
    word-wrap: break-word;
    clear: both;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
h3 {
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 25px 0;
    color: #403e3f;
}

.btn-link:hover .title {
    color: #e02727;
}

#sub-hero {
    position: relative;
    height: 40vh;
    width: 100%;
}



.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 5px 0 0;
}




strong {
    font-weight: bolder;
}

.mb-3 {
    margin-bottom: 1rem!important;
    margin-top: 10%;
}

h1.title {
    font-size: clamp(2.5rem, 2vw, 3rem);
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 25px;
    margin-bottom: 25px;
}

.enjoy-box span {
    font-family: 'Kaushan Script', cursive;
}

.py-5 {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}

#profile .col-md-6 img {
    width: 80px;
    height: 80px;
}

.mt-5 {
    margin-top: 6rem!important;
}

h2.title {
    font-size: clamp(2.5rem, 2vw, 3rem);
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 25px;
    margin-bottom: 25px;
}

/*******************************
*                              *
*        PROFILE PAGE          *
*                              *
*******************************/
#profile {
    text-align: center;
    padding: 25px 0 35px;
}

#profile .col-md-6 img {
    width: 50%;
    height: 50%;
}

#profile .user-info-box {
    text-align: left;
    color: var(--text-color-light);
}

#profile .form-control {
    width: 70% !important;
    margin: 0 auto;
}

.mt-5 {
    margin-top: 2rem!important;
    margin-bottom: 2rem;
}


/*******************************
*                              *
*        FOOTER                *
*                              *
*******************************/
#socials {
    margin-bottom: 1rem!important;
    margin-top: auto;
}

/*******************************
*                              *
*        Home Page             *
*                              *
*******************************/

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col {
    flex: 1 0 0%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.card {
    border: black;
    background-color: rgb(0 0 0 / 14%);
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}


.image-container {
    position: relative;
}

.author {
    color: white;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

a {
    color: #6c757d;
    text-decoration: none;
}


/*******************************
*                              *
*        About Page             *
*                              *
*******************************/

.enjoy-box span {
    font-family: 'Kaushan Script', cursive;
    font-size: xx-large;
}

/*******************************
*                              *
*        Post Detail           *
*                              *
*******************************/

.image-flash {
    position: absolute;
    bottom: 4.5%;
    min-width: 30%;
    left: -2px;
    background-color: #df0c2e;
}

p {
    margin-bottom: 1rem;
}

.text-muted {
    color: #000!important;
}

a {
    color: #000;
    text-decoration: none;
}

.mb-5 {
    margin-bottom: 1rem!important;
}


/*******************************
*                              *
*        Media Queries         *
*                              *
*******************************/

@media only screen and (max-width: 2926px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-left: 15%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 7%;
    }
}
@media only screen and (max-width: 2382px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-left: 15%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1654px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-left: 15%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 1236px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-left: 15%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 1060px) {

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 18%;
    }
}

@media only screen and (max-width: 1024px) {

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 18%;
    }

    .home-section.icons {
        padding: 0 0 0px;
        margin: 0 0 0px;
        margin-left: calc(-100vw / 2 + 100% / 2);
        margin-right: calc(-100vw / 2 + 100% / 2);
        max-width: 100vw;
    }
}


@media only screen and (max-width: 991px) {

.container {
        max-width: 960px;
    }
.navbar {
        height: auto !important;
    }
.img-fluid {
    max-width: 90%;
    height: auto;
    margin-left: 45%;
}

.navbar-light .navbar-toggler {
    padding: 5px 6px 5px 13px;
}

.login-box,
.logout-box  {
    position: absolute;
    right: 25px;
    bottom: 5px;
}

.tagline {
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .95em;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 40px;
    padding: 10px;
}

.login-box, .logout-box {
    position: relative;
    right: 25px;
    bottom: 5px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: relative;
    margin-left: 10%;
}

footer p {
    text-align: center!important;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    width: 90%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: 10%;
    margin-left: 10%;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 47%;
}

.navbar>.container-fluid{
        margin-right: 10%;
    }

.wrap{
    width:80%;
}

.image-flash {
    position: absolute;
   
    min-width: 30%;
    left: -2px;
    background-color: #df0c2e;
}



}



@media (max-width: 881px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 47%;
    }

}


@media (max-width: 767px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
    }

}

@media (max-width: 651px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 92%;
        margin-right: 10%;
        
        
    }

}

@media (max-width: 639px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 85%;
        margin-right: 10%;
        
        
    }

}

@media (max-width: 600px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 80%;
        margin-right: 10%;
        
        
    }

}

@media (max-width: 580px){
    .items {
        overflow: visible;
        display: flex;
        padding: 0;
        margin: 0 -1.5%;
        flex-wrap: wrap;
        flex-direction: column;
        /* width: 500%; */
        align-content: center;
    }

    .home-section.icons .items .item {
        margin: 0;
        padding: 0 1%;
        width: -moz-calc(100% / 7);
        width: -webkit-calc(100% / 7);
        width: 100%;
    }

    .me-4 {
        margin-right: 3rem!important;
        margin-left: 3rem;
    }

    .img-fluid {
        max-width: 90%;
        height: auto;
        margin-left: 20%;
    }

    
}

@media (max-width: 425px){
    .items {
        overflow: visible;
        display: flex;
        padding: 0;
        margin: 0 -1.5%;
        flex-wrap: wrap;
        flex-direction: column;
        /* width: 500%; */
        align-content: center;
    }

    .home-section.icons .items .item {
        margin: 0;
        padding: 0 1%;
        width: -moz-calc(100% / 7);
        width: -webkit-calc(100% / 7);
        width: 100%;
    }

    .navbar-brand {
        margin-right: -27px !important;
        margin-left: -120px;
    }

    .container {
        width: 90%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: 0%;
        margin-left: 10%;
        padding-right: 40px;
    }

    .me-4 {
        margin-right: 50px;
        margin-left: 50px;
    }

    .image-flash {
        bottom: 89%;
        
    }

    footer p {
        text-align: center!important;
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .img-fluid {
        max-width: 90%;
        height: auto;
        margin-left: 50%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 100%;
        margin-right: 0%;
    }


}

@media (max-width: 300px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 90%;
        margin-right: 0%;
        margin-left: 0%;
        
        
    }

    .me-4 {
        margin-left: 1.5rem;
        margin-right: 1.5rem!important;
    }

}



@media (max-width: 300px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 90%;
        margin-right: 0%;
        margin-left: 0%;
        
        
    }

    .me-4 {
        margin-left: 1.5rem;
        margin-right: 1.5rem!important;
    }


.image-flash {
    bottom: 86.5%;
}
}