{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- HERO SECTION -->
<section>
  <h1 class="tagline">
      Recipes for Babies and Toddlers	</h1>
  <div class="home-sections upper-home-sections" id="accordion">
    <div class="wrap">
      <div id="acf_widget_47225-1" class="widget-odd widget-first widget-1 icons home-section acf_widget_47225 Acf_Widget_47225 "><div class="wrap">
        <h2 class="screen-reader-text">Browse Categories</h2>
        <div class="items items-12-col">
          
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
                <img width="240" height="300" src="{% static 'images/radish.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon radish illustration" decoding="async">
                <noscript></noscript>6 months</button> </div>
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <img width="240" height="300" src="{% static 'images/strawberry.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon strawberry illustration" decoding="async">
                <noscript></noscript>7 months</button> </div>
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
                <img width="240" height="300" src="{% static 'images/carrot.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon carrot illustration" decoding="async">
                <noscript></noscript>8 months</button> </div>
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">
                <img width="240" height="300" src="{% static 'images/pear.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon pear illustration" decoding="async">
                <noscript></noscript>9 months</button> </div>
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">
                <img width="240" height="300" src="{% static 'images/grapple.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon apple illustration" decoding="async">
                <noscript></noscript>10 months</button> </div>
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">
                <img width="240" height="300" src="{% static 'images/bluebs.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon blueberries illustration" decoding="async">
                <noscript></noscript>11 months</button> </div>
            <div class="item icon">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample7">
                <img width="240" height="300" src="{% static 'images/eggplant.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon Eggplant Illustration" decoding="async">
                <noscript></noscript>12 months</button> </div>
          
        </div>
            <div class="collapse" id="multiCollapseExample1" data-bs-parent="#accordion" >
              <div class="card card-body">
                <i class="fa-solid fa-flower"></i>
                  From 6 months-old, if you started your baby solid food introduction at the age of 4 months, 
                  your baby now knows a good list of foods and you have concocted amazing recipes!
                  The texture of the puree can now be slightly granular but still quite smooth and easy to swallow for your baby.
              </div>
            </div>
            <div class="collapse" id="multiCollapseExample2" data-bs-parent="#accordion">
              <div class="card card-body">
                  At the age of 7 months, you realize that your baby is growing sooooo fast… and that it is necessary to adapt his diet, and quantities to meet his new needs.
                  7-months baby recipes are fun to cook!
                  Your baby will continue drinking milk. 
                  For the quantities of puree, listen to your baby: try to give him a little more as you go but never force your baby to finish his puree. 
                  At this age, baby should eat about 6oz of puree per day, but again it depends on the babies, their size, their weight … always adapt these quantities to your baby.
              </div>
            </div>
            <div class="collapse" id="multiCollapseExample3" data-bs-parent="#accordion">
              <div class="card card-body">
                  From the age of 8 months, your baby will discover new textures. Indeed, you will be able to give him food cut into very small pieces in his baby recipes.
                  Vegetables will now be crushed, about 6.3oz per day. 
                  The amount of meat or fish will be able to increase also from 0.35oz to 5oz per meal (preferably only for lunch).
              </div>
            </div>
            <div class="collapse" id="multiCollapseExample4" data-bs-parent="#accordion">
              <div class="card card-body">
                  From 9 months old, your baby is taller and starts eating more fruits and vegetables. 
                  The fruits can be given raw, finely sliced for your baby to discover new textures. We give 7oz of vegetables for lunchtime with meat, fish or egg. 
                  The egg can also be introduced with the white, hard (1 third of hard egg during lunch, not more than once a week).
              </div>
            </div>
            <div class="collapse" id="multiCollapseExample5" data-bs-parent="#accordion">
              <div class="card card-body">
                  At the age of 10 months, your baby increases his daily rations, and you continue giving him more small pieces in his baby recipes. 
                  Vegetables are crushed and the meat or fish crushed into small pieces in its recipes.
              </div>
            </div>
            <div class="collapse" id="multiCollapseExample6" data-bs-parent="#accordion">
              <div class="card card-body">
                  <i class="fa-solid fa-flower"></i>At the age of 11 months, your baby is growing fast and his needs increase. 
                  You give him more small pieces in his baby recipes. 
                  Vegetables are well crushed after cooking and the fish or meat crushed into small pieces. 
                  You can also give an egg for lunch instead of meat and fish.
              </div>
            </div>
            <div class="collapse" id="multiCollapseExample7" data-bs-parent="#accordion">
              <div class="card card-body">
                  At the age of 12 months, your baby increases his daily rations, and you continue to give him more small pieces in his baby recipes. 
                  Your baby can even starts eating alone and we love watching him fend for himself like a big one! Your baby can start eating more fruits and vegetables. 
                  Exotic fruits for example, such as persimmon, or passion fruit.
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
<ul>            
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Filter your recipies by age!
      </a>
      <div class="dropdown-menu m-2">
      {% for category in category_list %}
          <a class="dropdown-item" href="/category/{{ category.cat_title }}">{{ category.cat_title|title }}</a>
      {% endfor %}
      </div>
  </li> 
</ul> 
            
</section>

    <!-- ABOUT SECTION -->
    <section id="about">
        <h1 class="title"><i class="bi bi-flower3"></i> About Us <i class="bi bi-flower3"></i></h1>
        <div class="container box-shadow">
            <div class="row">
                <div class="col-md-4">
                    <img class="mb-3 box-shadow " src="{% static 'images/babyfood_about.png' %}" alt="Babylicious Image">
                </div>
                <div class="col-md-8">
                    <h3 class="sub-title">This blog is for anyone who loves their babies and love to cook and to give healty food.</h3>
                    <p class="mt-3 text-justify">
                      <i class="bi bi-emoji-smile-fill"></i> Our goal here is to publish recipes that your baby will not only love but will want them again. 
                        We hope to inspire you as a mother to cook and boost your confidence in preparing your's child food. 
                        Please follow along and let's create something delicious!</p>
                    <hr>
                    <h3 class="sub-title">WHAT IS “BABYLICIOUS”?</h3>
                    <p class="text-justify">
                      <i class="bi bi-emoji-smile-fill"></i> Babylicious is a blog of homemade baby food recipes. 
                      As a young mum, who love to cook, I have decided to share all my baby food recipes (baby purees, baby fruit purees, baby soups…) 
                      and also little bit of tips and advices. 
                      I talk about different things regarding the baby solids introduction, such as how to start solid foods for babies, 
                      how much baby food your baby should be eating, spices tracklement for babies.
                    </p>
                    <p>I hope you’ll find what you are looking for on my Babylicious blog !</p>
                    <hr>
                    <h3 class="sub-title">WHAT WILL YOU FIND ON BABYLICIOUS?</h3>
                    <p class="text-justify">
                      <strong><i class="bi bi-emoji-smile-fill"></i> Tested Recipes</strong> 
                      - Explore a collection of recipes that have been tested multiple times and have proven to be reliable and loved by my family.
                    </p>
                    <p class="text-justify">
                      <strong><i class="bi bi-emoji-smile-fill"></i> Approachable Recipes</strong> 
                      - Find recipes that are easy to follow with step-by-step instructions, perfect for parents who are new to cooking.
                    </p>
                    <p class="text-justify">
                      <strong><i class="bi bi-emoji-smile-fill"></i>Focus on Fruits and Vegetables</strong> 
                      - Get inspired to make fruit and vegetables more appealing to children and discover ways to incorporate more fruit and veg into your family's diet.</p>
                    <div class="enjoy-box mb-5">
                        <span>Enjoy!!</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END ABOUT SECTION -->

    {% endblock content %}
    