{% extends "base.html" %}
{% block title %}Category{% endblock %}
{% block content %}
{% load humanize %}
{% load static %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title"><strong>Post Category: {{ catlist.cat|title }}</strong></h1>
        </div>
    </div>
    <hr class="home-break">
    <br>
    <!--  Recipe Cards -->
    <div class="row card-deck">
        {% for post in catlist.posts %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail recipe-card mb-3 shadow-sm mx-auto mx-sm-2">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80""
                    class="card-img-top" alt="placeholder image">
                {% else %}
                <img src="{{ post.featured_image.url }}"  alt="recipe image" class="card-img-top">
                {% endif %}
                <div class="card-body pb-1">
                    <a href="{% url 'post_detail' post.slug  %}">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>

                <p class="card-text">{{post.content|slice:":200" }} <a href="{% url 'post_detail' post.slug  %}"
                        class="">... continue reading &rarr;</a></p>
                <hr>
                <p class="card-text text-muted ">
                    <i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} |
                    {{ post.updated_on | naturaltime }} | <a
                        href="/category/{{ post.category }}">{{ post.category|title }}</a>
                </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-lg-8">
            <img class="card-img-top rounded"
                src="{% static 'images/deafult-pic-recipie.png' %}"
                alt="placeholder_image">
            <h2 class="text-center">Sorry, currently there are no posts in this category. 
                <a class="hidden-link" href="{% url 'add_post' %}">Add one?</a></h2>
        </div>
        {% endfor %}
    </div>
</div>
</section>


{% endblock %}