{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- HERO SECTION -->
    <h1 class="tagline">
        Recipes for Babies and Toddlers	</h1>
    <div class="home-sections upper-home-sections">
        <div class="wrap">
        <div id="acf_widget_47225-1" class="widget-odd widget-first widget-1 icons home-section acf_widget_47225 Acf_Widget_47225 "><div class="wrap">
        <h2 class="screen-reader-text">Browse Categories</h2>
        <div class="items items-12-col">
        <p>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1"><img width="240" height="300" src="{% static 'images/radish.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon radish illustration" decoding="async"><noscript></noscript><h3 class="title">Stage One</h3></button> </div>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><img width="240" height="300" src="{% static 'images/strawberry.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon strawberry illustration" decoding="async"><noscript></noscript><h3 class="title">Stage Two</h3></button> </div>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3"><img width="240" height="300" src="{% static 'images/carrot.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon carrot illustration" decoding="async"><noscript></noscript><h3 class="title">Stage Three</h3></button> </div>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4"><img width="240" height="300" src="{% static 'images/pear.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon pear illustration" decoding="async"><noscript></noscript><h3 class="title">Finger Foods</h3></button> </div>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5"><img width="240" height="300" src="{% static 'images/grapple.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon apple illustration" decoding="async"><noscript></noscript><h3 class="title">Baby Led Weaning</h3></button> </div>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6"><img width="240" height="300" src="{% static 'images/bluebs.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon blueberries illustration" decoding="async"><noscript></noscript><h3 class="title">Toddlers</h3></button> </div>
          <div class="item icon">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample7"><img width="240" height="300" src="{% static 'images/eggplant.png' %}" class="attachment-square size-square entered lazyloaded" alt="Cartoon Eggplant Illustration" decoding="async"><noscript></noscript><h3 class="title">Kid Friendly</h3></button> </div>
          </div>
        </p>
        <div class="collapse" id="multiCollapseExample1">
            <div class="card card-body">
              Stage one is represented by the recipes which are perfect for babies 4-6 months and up. From 4 months, you will be able to cook recipes for your baby. 
              At 4 months, you can start introducing solids with your doctor agreement. 
              Whatever recipe you’ll cook him, the texture should be smooth and easy to swallow for your baby. 
              Baby discovers the taste of food, but also a new texture in the mouth!
            </div>
          </div>
          <div class="collapse" id="multiCollapseExample2">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          <div class="collapse" id="multiCollapseExample3">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          <div class="collapse" id="multiCollapseExample4">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          <div class="collapse" id="multiCollapseExample5">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          <div class="collapse" id="multiCollapseExample6">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          <div class="collapse" id="multiCollapseExample7">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
{%endblock%}
