{% extends "base.html" %}
{% block title %}{{ post.title|slice:":15" }}...{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}

<!-- Post detail-->

<section class="py-1">
    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top"
                                src="https://res.cloudinary.com/dvj7dxhwj/image/upload/v1685463084/do0tmwzerelcbcqzbd55.png"
                                alt="placeholder_image">
                            {% else %}
                            <img class="card-img-top" width="500" height="500"  src="{{ post.featured_image.url }}" alt="featured_image">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Submitted by: {{ post.author }}
                                    <small class="text-muted">{{ post.updated_on | naturaltime }} </small>
    
                                    <!-- Only users that are logged in can edit/ delete their own post -->
    
                                    {% if user.id == post.author.id %}
                                    <small class="btn" ><a href="{% url 'edit_post' post.slug %}"> Edit</a></small>
                                    <small> | </small>
                                    <button type="button" class="btn" data-bs-toggle="modal"
                                    data-bs-target="#delete-post">Delete</button>
                                            <div class="modal fade" id="delete-post"
                                            tabindex="-1" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="staticBackdropLabel">Delete Post</h5>
                                                  </div>
                                                  <div class="modal-body">
                                                      Are you sure you want to delete your post?
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary"
                                                          data-bs-dismiss="modal">Close</button>
                                                      <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger" aria-label="Delete Comment">Delete</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                    {% endif %}
                                </p>
                            </div>
                            <h2 class="card-title">{{ post.title }}</h2>
                        </div>

                        <h2 class="mt-4 mb-5">Ingredients:</h2>
                        <p class="card-text">{{ post.ingredients | linebreaksbr }}</p>
                        <h2 class="mt-3 mb-5">Method:</h2>
                        <p class="card-text">{{ post.method | linebreaksbr }}</p>
                        <hr>
                        <p class="card-text text-muted ">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i 
                                    class="bi bi-heart-fill"></i></button>{{ post.number_of_likes }} | <a
                                    href="/category/{{ post.category }}">{{ post.category|title }}</a> |
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i 
                                    class="bi bi-heart-fill"></i></button>{{ post.number_of_likes }} | <a
                                    href="/category/{{ post.category }}">{{ post.category|title }}</a> |
                                {% endif %}
                            </form>
                            {% else %}
                            <p class="card-text d-inline">
                                <i class="bi bi-heart-fill"></i> {{ post.number_of_likes }} | <a
                                    href="/category/{{ post.category }}">{{ post.category|title }}</a> |
                            </p>
                            {% endif %}
                            {% with comments.count as total_comments %}
                            <i class="bi bi-chat-fill"></i>
                            {{ total_comments }}
                            {% endwith %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <!-- Comments section -->
<section >
    <h2 class="mt-2 font-weight-bold" style="color:#ff5722;">Post your comment below:</h2>
    <br><br>
    <div class="container row">
      <div class="col-md-6">
                              <form method="post">
                                    <div class="form-group">
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <input type="submit" name="form" value="Add Comment" class="btn btn-primary btn-sm">
                                    </div>
                              </form>

      </div>
    </div>
    <div class="row">
    {% for comment in comments.all %}
    <div class="col-md-8 mt-2 mb-2">
    {% if user.is_authenticated %}
    <div class="media-body">
        <h4>{{comment.author}} <small><i>Posted on {{comment.created_on}}</i></small></h4>
        <p>{{comment.body}}</p>
    </div>
    {% if user.is_authenticated and user.username == comment.author or user.is_superuser %}
    <a href="{% url 'edit_comment' comment.id %}" class="btn-edit btn-sm btn-secondary mb-3" aria-label="Go to the Edit Comments Page">Edit</a>
    <button type="button" class="btn-delete btn-sm btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#delete-comment-{{ comment.pk }}">Delete</button>
        <!-- Delete comment bootstrap modal-->
        <div class="modal fade" id="delete-comment-{{ comment.pk }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete Comment</h5>
                    </div>
                    <div class="modal-body">
                         Are you sure you want to delete your comment?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger" aria-label="Delete Comment">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
                      <div class="media border p-3">
                         
                            {% for reply in comment.replies.all %}
                                        <div class="media p-3">
                                                
                                        <div class="media-body">
                                                <h5>{{reply.author}} <small><i>Replied on {{reply.date_added}}</i></small></h5>
                                                <p>{{reply.reply_body}}</p>
                                          </div>
                                        </div>
                            {% endfor %}
                            <!-- form to post reply -->
                            <form method="post">
                                  <input type="hidden" name="comment.id" value="{{comment.id}}">
                                  <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}">
                                  {% csrf_token %}
                                  {{form2.as_p}}
                                  <input type="submit" name="form2" value="Add Reply" class="btn btn-warning btn-sm">
                            </form>
                          
                  </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>


</section>

{% endblock content %}